<!-- FOOTER -->
<footer class="bg-dark">
  <div class="footer-top">
    <div class="container">
      <div class="row gy-5">
        <div class="col-lg-3 col-sm-6">
          <a href="/"><img src="../../../assets/images/logo.png" alt="Logo"></a>
          <div class="line"></div>
          <p>Child Development Guide and Digital Child Health Tracker!</p>
          <div class="social-icons">
            <a href="#"><i class="ri-facebook-fill"></i></a>
            <a href="#"><i class="ri-instagram-fill"></i></a>
            <a href="#"><i class="ri-youtube-fill"></i></a>
            <a href="#"><i class="ri-telegram-fill"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <h5 class="mb-0 text-white">APP</h5>
          <div class="line"></div>
          <ul>
            <li><a href="/#parentAssist">Child Development</a></li>
            <li><a href="/#parentAssist">Child Health History</a></li>
            <li><a routerLink="/blog">Parenting Blog</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-sm-6">
          <h5 class="mb-0 text-white">ABOUT</h5>
          <div class="line"></div>
          <ul>
            <li><a href="#">App</a></li>
            <li><a routerLink="/blog">Blog</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Subscriptions</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-sm-6">
          <h5 class="mb-0 text-white">CONTACT</h5>
          <div class="line"></div>
          <ul>
            <li>Chisinau, MD-2030</li>
            <li>(068) 111 - 333</li>
            <li>www.parent-assist.com</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row g-4 justify-content-between">
        <div class="col-auto">
          <p class="mb-0">© Copyright Parent Assist App. All Rights Reserved</p>
        </div>
        <div class="col-auto">
          <p class="mb-0">Designed with 💜</p>
        </div>
      </div>
    </div>
  </div>
</footer>
