<div class="container-fluid g-0">
<app-navbar-profile></app-navbar-profile>

  <main>
    <app-side-nav></app-side-nav>

      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <div class="section-title">
              <h5 class="display-4 fw-semibold">Child development</h5>
              <div class="line"></div>
              <p>Helps wisely spend money on child development by providing a guide with activity and toys
                for every growth stage, based on child's capabilities and the skill parent want to develop.</p>
            </div>
          </div>
        </div>
        <div class="row g-4 text-center">
          <div class="col-lg-4 col-sm-6">
            <a href="#">
              <div class="parentAssistApp theme-shadow p-lg-5 p-4">
                <div class="iconbox">
                  <i class="ri-calendar-check-fill"></i>
                </div>
                <h5 class="mt-4 mb-3">Today</h5>
                <p>Schedule of activities, reminders, and an article recommendation. Selected activity redirects
                  to the activity page, which contains information about it.</p>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a href="#">
              <div class="parentAssistApp theme-shadow p-lg-5 p-4">
                <div class="iconbox">
                  <i class="ri-calendar-todo-fill"></i>
                </div>
                <h5 class="mt-4 mb-3">Weekly plan</h5>
                <p>Scheduled activities and topics, list of necessary materials for the week,
                  that can be printed, downloaded as a pdf, and shared.</p>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a href="#">
              <div class="parentAssistApp theme-shadow p-lg-5 p-4">
                <div class="iconbox">
                  <i class="ri-brain-fill"></i>
                </div>
                <h5 class="mt-4 mb-3">Skills and Milestones</h5>
                <p> Milestone checklist based on child age. Skills that should be developed, based on the child's age</p>
              </div>
            </a>
          </div>

          <div class="row">
            <div class="col-12 text-center">
              <a href="#">
                <div class="section-title">
                  <h5 class="display-4 fw-semibold">Child Health History</h5>
                  <div class="line"></div>
                  <p>Record all relevant health information, such as medical history, disease symptoms, allergies,
                    medications, and other important details, and organize it by categories and sub-categories.
                    Uploading medical files and organizing them by category.</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a href="#">
              <div class="parentAssistApp theme-shadow p-lg-5 p-4">
                <div class="iconbox">
                  <i class="ri-capsule-fill"></i>
                </div>
                <h5 class="mt-4 mb-3">Treatments&Medicines</h5>
                <p>Tracking treatments. Create treatment plans and reminders.
                  Tracking medicines, including information, link and expiration date.</p>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a href="#">
              <div class="parentAssistApp theme-shadow p-lg-5 p-4">
                <div class="iconbox">
                  <i class="ri-service-line"></i>
                </div>
                <h5 class="mt-4 mb-3">Growth&Health</h5>
                <p>Tracking growth measures: height, weight, head circumference.<br>
                  Vaccines: program, tracking.</p>
                <br>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a href="#">
              <div class="parentAssistApp theme-shadow p-lg-5 p-4">
                <div class="iconbox">
                  <i class="ri-nurse-line"></i>
                </div>
                <h5 class="mt-4 mb-3">Doctors&Appointments</h5>
                <p>Doctors contact.<br>
                  Appointments, that will appear as reminders in today feed.<br><br></p>
              </div>
            </a>
          </div>
        </div>
      </div>
  </main>
</div>
