<!-- COUNTER -->
<section id="counter" class="section-padding">
  <div class="container text-center">
    <div class="row g-4">
      <div class="col-lg-3 col-sm-6" data-aos="fade-down" data-aos-delay="150">
        <h1 class="text-white display-4">90,00+</h1>
        <h6 class="text-uppercase mb-0 text-white mt-3">Total Downloads</h6>
      </div>
      <div class="col-lg-3 col-sm-6" data-aos="fade-down" data-aos-delay="250">
        <h1 class="text-white display-4">10k+</h1>
        <h6 class="text-uppercase mb-0 text-white mt-3">Clients</h6>
      </div>
      <div class="col-lg-3 col-sm-6" data-aos="fade-down" data-aos-delay="350">
        <h1 class="text-white display-4">5K+</h1>
        <h6 class="text-uppercase mb-0 text-white mt-3">Activities</h6>
      </div>
      <div class="col-lg-3 col-sm-6" data-aos="fade-down" data-aos-delay="450">
        <h1 class="text-white display-4">10+</h1>
        <h6 class="text-uppercase mb-0 text-white mt-3">Team Members</h6>
      </div>
    </div>
  </div>
</section>
