/* COUNTER */
#counter {
  background: linear-gradient(rgba(var(--c-brand-rgb), 0.8), rgba(var(--c-brand-rgb), 0.8)), url(../../../assets/images/counter_bg.jpg);
  background-position: center;
  background-size: cover;
}
