<nav class="navbar navbar-expand-lg bg-light sticky-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="../../../assets/images/logo.png" alt="Logo" class="logo-image">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/#home">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#parentAssistApp">PARENT ASSIST APP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog">BLOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#contact">CONTACT</a>
        </li>
      </ul>
      <a routerLink="/auth" class="btn btn-brand ms-lg-3">Join</a>
      <a routerLink="/parentAssistApp" class="btn btn-light ms-2">Explore</a>
    </div>
  </div>
</nav>
