<!-- CAROUSEL -->
<section id="home" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#home" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#home" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#home" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#home" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="4000">
      <div class="info">
        <h1 class="text-uppercase text-white fw-semibold display-1">Welcome to<br> Parent Assist App</h1>
                <h5 class="text-white mt-3 mb-4">Child Development Guide and Digital Child Health Tracker</h5>
        <div>
          <a routerLink="/auth" class="btn btn-brand me-2">Join us</a>
          <a routerLink="/parentAssistApp" class="btn btn-light ms-2">Explore</a>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <div class="info">
        <h1 class="text-uppercase text-white fw-semibold display-1">Child Development</h1>
        <p>Help parent wisely spend money on child development<br> by providing a guide with activity and toys for every growth stage,<br> based on child's capabilities and the skill parent want to develop.</p>
        <div>
          <a routerLink="/auth" class="btn btn-brand me-2">Join us</a>
          <a routerLink="/parentAssistApp" class="btn btn-light ms-2">Explore</a>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <div class="info">
        <h1 class="text-uppercase text-white fw-semibold display-1">Child Health History</h1>
        <p>Make medical visits and procedures easier<br> by providing all necessary information to doctors<br> with a quick share</p>
        <div>
          <a routerLink="/auth" class="btn btn-brand me-2">Join us</a>
          <a routerLink="/parentAssistApp" class="btn btn-light ms-2">Explore</a>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <div class="info">
        <h1 class="text-uppercase text-white fw-semibold display-1">Parenting Blog</h1>
        <p>Valuable resource for parents,<br> offering information, support, community,<br> and inspiration throughout their parenting journey.</p>
        <div>
          <a routerLink="/blog" class="btn btn-light ms-2">Blog</a>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#home" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#home" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </button>
</section>
