<div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;">
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
      <a href="#" class="nav-link py-3 border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Today">
        <div class="iconbox">
          <i class="ri-calendar-check-fill"></i>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Weekly plan">
        <div class="iconbox">
          <i class="ri-calendar-todo-fill"></i>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Skills and Milestones">
        <div class="iconbox">
          <i class="ri-brain-fill"></i>
        </div>
      </a>
    </li>
    <li><hr></li>
    <li class="nav-item">
      <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Treatments&Medicines">
        <div class="iconbox">
          <i class="ri-capsule-fill"></i>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Growth&Health">
        <div class="iconbox">
          <i class="ri-service-line"></i>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Doctors&Appointments">
        <div class="iconbox">
          <i class="ri-nurse-line"></i>
        </div>
      </a>
    </li>
    <li><hr></li>
  </ul>
  <div class="dropdown border-top">
    <a href="#" class="nav-link d-flex align-items-center justify-content-center py-3 link-dark dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
      <div class="iconbox">
        <i class="bi bi-person-lines-fill"></i>
      </div>
    </a>
    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3" style="">
      <li><a class="dropdown-item" href="#"><i class="bi bi-person-hearts"></i>Children</a></li>
      <li><a class="dropdown-item" href="#"><i class="bi bi-person-fill-gear"></i>Settings</a></li>
      <li><a class="dropdown-item" href="#"><i class="bi bi-person"></i>Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" (click)="logout()"><i class="bi bi-box-arrow-right"></i>Sign out</a></li>
    </ul>
  </div>
</div>
