<!-- FEATURES -->
<section id="parentAssistApp" class="section-padding border-top">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
        <div class="section-title">
          <h5 class="display-4 fw-semibold">Child development Features</h5>
          <div class="line"></div>
          <p>Helps wisely spend money on child development by providing a guide with activity and toys
            for every growth stage, based on child's capabilities and the skill parent want to develop.</p>
        </div>
      </div>
    </div>
    <div class="row g-4 text-center">
      <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="150">
        <a href="../../../assets/images/pexels-andrea-piacquadio-3756036.jpg" data-fancybox>
          <div class="parentAssistApp theme-shadow p-lg-5 p-4">
            <div class="iconbox">
              <i class="ri-calendar-check-fill"></i>
            </div>
            <h5 class="mt-4 mb-3">Today</h5>
            <p>Schedule of activities, reminders, and an article recommendation. Selected activity redirects
              to the activity page, which contains information about it.</p>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="250">
        <a href="../../../assets/images/pexels-andrea-piacquadio-3756036.jpg" data-fancybox>
          <div class="parentAssistApp theme-shadow p-lg-5 p-4">
            <div class="iconbox">
              <i class="ri-calendar-todo-fill"></i>
            </div>
            <h5 class="mt-4 mb-3">Weekly plan</h5>
            <p>Scheduled activities and topics, list of necessary materials for the week,
              that can be printed, downloaded as a pdf, and shared.</p>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="350">
        <a href="../../../assets/images/pexels-andrea-piacquadio-3756036.jpg" data-fancybox>
          <div class="parentAssistApp theme-shadow p-lg-5 p-4">
            <div class="iconbox">
              <i class="ri-brain-fill"></i>
            </div>
            <h5 class="mt-4 mb-3">Skills and Milestones</h5>
            <p> Milestone checklist based on child age. Skills that should be developed, based on the child's age</p>
          </div>
        </a>
      </div>

      <div class="row">
        <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
          <a href="../../../assets/images/pexels-andrea-piacquadio-3756036.jpg" data-fancybox>
            <div class="section-title">
              <h5 class="display-4 fw-semibold">Child Health History Features</h5>
              <div class="line"></div>
              <p>Record all relevant health information, such as medical history, disease symptoms, allergies,
                medications, and other important details, and organize it by categories and sub-categories.
                Uploading medical files and organizing them by category.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="450">
        <a href="../../../assets/images/pexels-andrea-piacquadio-3756036.jpg" data-fancybox>
          <div class="parentAssistApp theme-shadow p-lg-5 p-4">
            <div class="iconbox">
              <i class="ri-capsule-fill"></i>
            </div>
            <h5 class="mt-4 mb-3">Treatments&Medicines</h5>
            <p>Tracking treatments. Create treatment plans and reminders.
              Tracking medicines, including information, link and expiration date.</p>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="550">
        <a href="../../../assets/images/pexels-andrea-piacquadio-3756036.jpg" data-fancybox>
          <div class="parentAssistApp theme-shadow p-lg-5 p-4">
            <div class="iconbox">
              <i class="ri-service-line"></i>
            </div>
            <h5 class="mt-4 mb-3">Growth&Health</h5>
            <p>Tracking growth measures: height, weight, head circumference.<br>
              Vaccines: program, tracking.</p>
            <br>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="650">
        <a href="../../../assets/images/pexels-andrea-piacquadio-3756036.jpg" data-fancybox>
          <div class="parentAssistApp theme-shadow p-lg-5 p-4">
            <div class="iconbox">
              <i class="ri-nurse-line"></i>
            </div>
            <h5 class="mt-4 mb-3">Doctors&Appointments</h5>
            <p>Doctors contact.<br>
              Appointments, that will appear as reminders in today feed.<br><br></p>
          </div>
        </a>
      </div>
    </div>
    <div class="btn-row">
      <a routerLink="/auth" class="btn btn-brand me-2">Join us</a>
      <a routerLink="/parentAssistApp" class="btn btn-light ms-2">Explore</a>
    </div>
  </div>


  <!-- APP -->
  <div class="container">
    <div class="row">
      <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
        <div class="section-title">
          <h1 class="display-4 fw-semibold">Our APP</h1>
          <div class="line"></div>
          <p>A parenting resource that includes child development guide and digital child care tracking</p>
        </div>
      </div>
    </div>
    <div class="row g-4">
      <div class="col-md-4" data-aos="fade-down" data-aos-delay="150">
        <div class="app-item image-zoom">
          <div class="image-zoom-wrapper">
            <img src="../../../assets/images/pexels-cottonbro-studio-3661240.jpg" alt="Today feature">
          </div>
          <a class="iconbox" data-fancybox="gallery" href="../../../assets/images/pexels-cottonbro-studio-3661240.jpg">
            <i class="ri-search-2-line"></i>
          </a>
        </div>
        <div class="app-item image-zoom mt-4">
          <div class="image-zoom-wrapper">
            <img src="../../../assets/images/pexels-andrea-piacquadio-3756036.jpg" alt="Treatments&Medicines">
          </div>
          <a href="../../../assets/images/pexels-andrea-piacquadio-3756036.jpg" data-fancybox="gallery" class="iconbox"><i
            class="ri-search-2-line"></i></a>
        </div>
      </div>
      <div class="col-md-4" data-aos="fade-down" data-aos-delay="250">
        <div class="app-item image-zoom">
          <div class="image-zoom-wrapper">
            <img src="../../../assets/images/pexels-andrea-piacquadio-3756036.jpg" alt="Weekly plan feature">
          </div>
          <a href="../../../assets/images/pexels-andrea-piacquadio-3756036.jpg" data-fancybox="gallery" class="iconbox"><i
            class="ri-search-2-line"></i></a>
        </div>
        <div class="app-item image-zoom mt-4">
          <div class="image-zoom-wrapper">
            <img src="../../../assets/images/pexels-cottonbro-studio-3661240.jpg" alt="Growth&Health">
          </div>
          <a href="../../../assets/images/pexels-cottonbro-studio-3661240.jpg" data-fancybox="gallery"
             class="iconbox"><i
            class="ri-search-2-line"></i></a>
        </div>
      </div>
      <div class="col-md-4" data-aos="fade-down" data-aos-delay="350">
        <div class="app-item image-zoom">
          <div class="image-zoom-wrapper">
            <img src="../../../assets/images/pexels-cottonbro-studio-3661240.jpg" alt="Skills and Milestones">
          </div>
          <a href="../../../assets/images/pexels-cottonbro-studio-3661240.jpg" data-fancybox="gallery"
             class="iconbox"><i
            class="ri-search-2-line"></i></a>
        </div>
        <div class="app-item image-zoom mt-4">
          <div class="image-zoom-wrapper">
            <img src="../../../assets/images/pexels-andrea-piacquadio-3756036.jpg" alt="Doctors&Appointments">
          </div>
          <a href="../../../assets/images/pexels-andrea-piacquadio-3756036.jpg" data-fancybox="gallery" class="iconbox"><i
            class="ri-search-2-line"></i></a>
        </div>
      </div>
      <div class="btn-row">
        <a routerLink="/auth" class="btn btn-brand me-2">Join us</a>
        <a routerLink="/parentAssistApp" class="btn btn-light ms-2">Explore</a>
      </div>
    </div>
  </div>

  <!-- REVIEW -->
  <section id="reviews" class="section-padding bg-light">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
          <div class="section-title">
            <h1 class="display-4 fw-semibold">Testimonials</h1>
            <div class="line"></div>
            <p>Our community of parents provided feedback on the app.</p>
          </div>
        </div>
      </div>
      <div class="row gy-5 gx-4">
        <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="150">
          <div class="review">
            <div class="review-head p-4 bg-white theme-shadow">
              <div class="text-warning">
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
              </div>
              <p>Amazing experience to be guided in child development, getting interesting and useful tips in child
                developemen.</p>
            </div>
            <div class="review-person mt-4 d-flex align-items-center">
              <img class="rounded-circle" src="../../../assets/images/avatar-1.png" alt="">
              <div class="ms-3">
                <h5>Dorina</h5>
                <small>Mother of a 5-year-old son.</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="250">
          <div class="review">
            <div class="review-head p-4 bg-white theme-shadow">
              <div class="text-warning">
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
              </div>
              <p>Amazing theme ipsum dolor sit amet consectetur adipisicing elit. Assumenda eum animi rerum ipsam
                impedit dicta voluptatem.</p>
            </div>
            <div class="review-person mt-4 d-flex align-items-center">
              <img class="rounded-circle" src="../../../assets/images/avatar-2.PNG" alt="">
              <div class="ms-3">
                <h5>Alina</h5>
                <small>Mother of a 3-year-old son.</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="350">
          <div class="review">
            <div class="review-head p-4 bg-white theme-shadow">
              <div class="text-warning">
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
              </div>
              <p>Amazing theme ipsum dolor sit amet consectetur adipisicing elit. Assumenda eum animi rerum ipsam
                impedit dicta voluptatem.</p>
            </div>
            <div class="review-person mt-4 d-flex align-items-center">
              <img class="rounded-circle" src="../../../assets/images/avatar-3.PNG" alt="">
              <div class="ms-3">
                <h5>Cristina</h5>
                <small>Mother of a 2-year-old girl and 5-year-old boy.</small>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-row">
          <a routerLink="/auth" class="btn btn-brand me-2">Join us</a>
          <a routerLink="/parentAssistApp" class="btn btn-light ms-2">Explore</a>
        </div>
      </div>
    </div>
  </section>
</section>
