<!-- ABOUT -->
<section id="about" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="50">
        <div class="section-title">
          <h1 class="display-4 fw-semibold">About us</h1>
          <div class="line"></div>
          <p>At Parent Assist App, we are a team of passionate parents and educators
            who share a love for children and a desire to support and empower parents.
            </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-5" data-aos="fade-down" data-aos-delay="50">
        <img src="../../../assets/images/about_img.jpg" alt="">
      </div>
      <div data-aos="fade-down" data-aos-delay="150" class="col-lg-6">
        <h1>Our Mission</h1>
        <p class="mt-2 mb-3">Provide parents with valuable information, resources, and guidance
          so that they can make informed decisions and experience the pleasure of parenting</p>
        <div class="d-flex pt-4 mb-3">
          <div class="iconbox me-4">
            <i class="ri-brain-line"></i>
          </div>
          <div>
            <h5>Experience and expertise</h5>
            <p>We believe that every child deserves a nurturing and supportive environment to thrive in,
              and we are here to assist parents in creating that foundation.</p>
          </div>
        </div>
        <div class="d-flex mb-3">
          <div class="iconbox me-4">
            <i class="ri-empathize-line"></i>
          </div>
          <div>
            <h5>Passionate and dedicated</h5>
            <p>We understand the crucial role that early childhood experiences play in shaping a child's future,
              and we are committed to equipping parents with the knowledge and tools they need to support their
              child's growth and development.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
