<div class="modal fade" id="forgotPassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Forgot your password?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="forgotPasswordForm">
          <div class="mb-3">
            <p>No problem. Please enter the email address associated with your account in the field below. We will send you an email with instructions on how to reset your password.</p>
          </div>
          <div class="mb-3">
            <label for="username" class="col-form-label">Username:</label>
            <input type="text" class="input" id="username" formControlName="username">
          </div>
          <div class="mb-3">
            <label for="email" class="col-form-label">Email:</label>
            <input type="text" class="input" id="email" formControlName="email">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-brand">Send message</button>
      </div>
    </div>
  </div>
</div>
