<mat-card>
    <mat-card-header>
        <h2>Registration Form</h2>
    </mat-card-header>
    <mat-card-content>
        <!-- <form class="example-form" [formGroup]="registerform" (ngSubmit)="proceedregister()">
            <mat-form-field class="example-full-width">
              <mat-label>User name</mat-label>
              <input matInput formControlName="username">
            </mat-form-field> -->
            <!-- <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="email.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field> -->
            <!-- <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Confirm Password</mat-label>
                <input type="password" matInput formControlName="password">
            </mat-form-field>
        </form> -->
    </mat-card-content>
</mat-card>